@charset "UTF-8";
@import url(../css/normalize.css);
@-webkit-keyframes arrow {
  from {
    -webkit-transform: none;
    transform: none; }
  25% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes arrow {
  from {
    -webkit-transform: none;
    transform: none; }
  25% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@font-face {
  font-family: 'LifeHack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  font-size: 14px;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0px;
  margin: 0px; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

.wrapper {
  position: relative;
  min-width: 1100px;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.maincontent {
  min-height: 650px;
  height: 100%; }

.container {
  height: 100vh;
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 650px;
  min-width: 940px; }

.btn {
  min-width: 6.125rem;
  border: none;
  border-radius: 5px;
  padding: 10px 17px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.section__title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 1.42;
  margin-bottom: 15px; }

.sidebar {
  top: 100px;
  right: 40px;
  position: fixed;
  display: block; }

.sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar__item {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 10px 0; }
  .sidebar__item:before {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    content: '';
    display: block;
    border-radius: 50%;
    background-color: #fff;
    width: 6px;
    height: 6px;
    z-index: 10; }
  .sidebar__item--active {
    border: 1px solid #fff;
    border-radius: 50%; }

.intro {
  background: url("../img/bg/intro-bg.jpg") no-repeat center;
  background-size: cover; }

.header {
  width: 100%;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  margin-right: auto; }

.navigation {
  margin-right: 0.9375rem; }

.navigation__list {
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 0.8125rem;
  font-weight: 500; }
  .navigation__item:before {
    content: "•";
    color: white;
    margin: 0 0.6875rem; }
  .navigation__item:first-child:before {
    display: none; }

.navigation__text {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .navigation__text:hover {
    text-decoration: underline; }

.header__btn-link {
  background-color: #e25028; }
  .header__btn-link:hover {
    background-color: #cb411b; }

.intro__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.intro__img {
  margin-right: 1.5625rem;
  position: relative; }

.intro__burger {
  max-width: 100%; }

.intro__description {
  margin-top: 3.75rem; }

.intro__title {
  color: #f8b43a;
  margin-bottom: 0.9375rem; }

.intro__description-text {
  font-family: 'LifeHack', Arial, sans-serif;
  font-size: 4.0625rem;
  color: white;
  text-transform: lowercase;
  line-height: 3.75rem; }

.arrow {
  margin-bottom: 1.25rem; }

.we {
  background: url("../img/bg/we-bg.jpg") no-repeat center;
  background-size: cover;
  color: #2f3234; }

.we__container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.we__title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 72px;
  margin-bottom: 15px; }

.we__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.we__item {
  width: 32%; }

.we__image {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: #f89513;
  margin-bottom: 30px;
  background-position: center center;
  background-repeat: no-repeat; }

.we__image--meat {
  background: url("../img/icons/meat.svg") no-repeat center; }

.we__image--hand {
  background: url("../img/icons/hand.svg") no-repeat center; }

.we__image--natural {
  background: url("../img/icons/natural.svg") no-repeat center; }

.we__text span {
  font-family: 'LifeHack', Arial, sans-serif;
  display: block;
  font-size: 24px;
  text-align: center;
  color: #2f3234;
  margin-bottom: 5px; }

.we__text p {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #2f3234; }

.team {
  background: url("../img/bg/team-bg.jpg") no-repeat top;
  background-size: cover;
  position: relative; }

.team__container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #313436;
  opacity: .9;
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0; }

.team__title {
  color: #f8b43a;
  margin-top: 90px;
  margin-bottom: 25px; }

.team__item {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer; }
  .team__item--active {
    margin-bottom: 40px; }
    .team__item--active .team__preview span {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .team__item--active .team__preview p {
      color: #f8b43a; }
    .team__item--active .team__hidden {
      height: auto;
      max-height: 200px; }

.team__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 10px; }
  .team__preview p {
    margin: 0;
    font-family: 'Gagalin', Arial, sans-serif;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .team__preview:hover {
    color: #f8b43a; }
    .team__preview:hover .team__arrow {
      -webkit-animation: .6s arrow linear;
      animation: .6s arrow linear; }

.team__item--active:hover .team__arrow {
  -webkit-animation: none;
  animation: none; }

.team__arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #f8b43a;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.team__hidden {
  max-height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.team__img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50%;
  background: url("../img/content/james.jpg") no-repeat center;
  background-size: cover; }

.team__text {
  width: 225px; }
  .team__text span {
    display: block;
    font-weight: 700;
    margin-bottom: 15px; }
  .team__text p {
    margin: 0;
    line-height: 24px; }

.menu {
  background: url("../img/bg/menu-bg.jpg") no-repeat top;
  background-size: cover;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff; }

.menu__title {
  width: 29%;
  margin-top: 100px;
  margin-left: 95px; }

.accordeon-horizontal {
  margin-left: auto;
  max-width: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer; }
  .menu__item:hover .menu__preview {
    color: #f8b43a; }
  .menu__item:hover .menu__hidden {
    width: 20px;
    max-width: 20px; }
  .menu__item--active {
    cursor: pointer; }
    .menu__item--active .menu__preview p {
      color: #f8b43a; }
    .menu__item--active .menu__hidden {
      width: auto;
      max-width: 2000px; }
    .menu__item--active:hover .menu__hidden {
      width: auto;
      max-width: 2000px; }

.menu__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative; }
  .menu__preview:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.7); }
  .menu__preview--meat {
    background: url("../img/content/meat.jpg") no-repeat center; }
  .menu__preview--vegan {
    background: url("../img/content/vegan.jpg") no-repeat 90%; }
  .menu__preview--diet {
    background: url("../img/content/diet.jpg") no-repeat 100%; }
  .menu__preview p {
    display: inline-block;
    font-family: 'Gagalin', Arial, sans-serif;
    font-size: 40px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    margin: 0px 12px;
    margin-bottom: 40px;
    width: 55px; }

.menu__hidden {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  width: 0;
  max-width: 0;
  overflow: hidden;
  background-color: #343334;
  opacity: 0.93; }

.menu__text p {
  margin: 60px 35px;
  line-height: 24px; }

.reviews__container {
  min-width: 1100px;
  width: 100%; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 650px;
  height: 100vh; }

.reviews__item {
  display: block;
  width: 25%;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .reviews__item:hover {
    background-color: #b5babd; }
    .reviews__item:hover .reviews__cont span,
    .reviews__item:hover .reviews__cont p,
    .reviews__item:hover .reviews__cont .reviews__btn-link {
      opacity: 1; }

.reviews__item--1 {
  background: url("../img/content/1.jpg") no-repeat center;
  background-size: cover; }

.reviews__item--2 {
  background: url("../img/content/2.jpg") no-repeat 60% 20%;
  background-size: cover; }

.reviews__item--3 {
  background: url("../img/content/3.jpg") no-repeat 50% 10%;
  background-size: cover; }

.reviews__item--4 {
  background: url("../img/content/4.jpg") no-repeat 100% 35%;
  background-size: cover; }

.reviews__item--5 {
  background: url("../img/content/5.jpg") no-repeat 5% 0%;
  background-size: cover; }

.reviews__item--6 {
  background: url("../img/content/6.jpg") no-repeat 65% 0%;
  background-size: cover; }

.reviews__item--7 {
  background: url("../img/content/7.jpg") no-repeat 40% 50%;
  background-size: cover; }

.reviews__item--8 {
  background: url("../img/content/8.jpg") no-repeat 80% 50%;
  background-size: cover; }

.reviews__cont {
  width: 85%;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }
  .reviews__cont span {
    display: block;
    font-family: 'Gagalin', Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .reviews__cont p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.reviews__btn-link {
  background-color: #2f3234;
  opacity: 0; }
  .reviews__btn-link:hover {
    background-color: #1e2021; }

.form {
  background: url("../img/bg/form-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-weight: 300;
  font-size: 14px; }

.form__title {
  color: #f8b43a;
  margin-bottom: 25px; }

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__left,
.form__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__left {
  margin-right: 20px; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__row--textarea,
.form__row--check {
  margin-bottom: 20px; }

.form__row--radio {
  margin-bottom: 25px; }

.form__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 20px; }
  .form__input:last-child {
    margin-right: 0; }

.form__field-title {
  margin-bottom: 5px; }

.form__input-text {
  width: 100%;
  border: 0;
  border-radius: 5px;
  height: 35px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 0 15px; }
  .form__input-text:focus {
    outline: none;
    -webkit-box-shadow: 0 0 2px 2px #f8b43a;
    box-shadow: 0 0 2px 2px #f8b43a; }

.form__textarea {
  height: 110px;
  resize: none;
  padding: 10px 15px; }

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__controls-trigger {
  margin-right: 20px; }
  .form__controls-trigger:last-child {
    margin-right: 0; }

.form__check {
  position: relative; }

.form__check,
.form__controls-trigger {
  overflow: hidden;
  position: relative; }

.check__label,
.radio__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__checkbox,
.form__radio {
  position: absolute;
  left: -20px; }

.checkbox__styled,
.radio__styled {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 1px;
  margin-right: 10px; }
  .checkbox__styled:after,
  .radio__styled:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url("../img/icons/check.png") no-repeat center;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.radio__styled {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .radio__styled:after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e25028; }

.form__checkbox:checked + .checkbox__styled:after,
.form__radio:checked + .radio__styled:after {
  opacity: 1; }

.checkbox__text,
.radio__text {
  line-height: 14px; }

.form__row--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__btn-send {
  font-family: 'Ubuntu', Arial, sans-serif;
  background-color: #e25028;
  margin-right: 20px;
  font-weight: 400;
  cursor: pointer; }
  .form__btn-send:hover {
    background-color: #cb411b; }
  .form__btn-send:focus {
    outline: none;
    -webkit-box-shadow: 0 0 2px 2px #f8b43a;
    box-shadow: 0 0 2px 2px #f8b43a; }

.form__btn-reset {
  background: none;
  border: none;
  color: #fff;
  padding: 0;
  outline: none;
  cursor: pointer; }
  .form__btn-reset:hover {
    text-decoration: underline; }

.map {
  background: url("../img/bg/map-bg.jpg") no-repeat center;
  background-size: cover; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/bg/footer-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  padding: 8px 0; }

.footer__container {
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.address {
  font-weight: 300;
  margin-bottom: 5px; }

.tel {
  font-weight: 700;
  color: #e25028; }
  .tel__icon {
    margin-right: 10px; }

.footer__left {
  margin-right: auto; }

.social__list {
  margin-left: auto; }

.social__item {
  display: inline-block;
  margin-right: 17px; }
  .social__item:last-child {
    margin-right: 0; }

.social__icon {
  width: 20px;
  height: 20px;
  fill: #5a5a5a;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .social__icon:hover {
    fill: #fff; }

/*# sourceMappingURL=main.css.map */