.main {
  display: none;

  @include tablets {
    display: inline-block;
  }

  .item {
    width: 24px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #fff;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
