.header {
  width: 100%;
  margin-top: rem(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.navigation {
  margin-right: rem(15px);

  @include tablets {
    order: 1;
    margin-left: rem(30px);
    margin-right: 0;
  }
}

.navigation__list {
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @include tablets {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(47, 50, 52, .99);
    z-index: -1;
    opacity: 0;
    transition: .5s;
  }
}

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-size: rem(13px);
  font-weight: 500;

  &:before {
    content: "•";
    color: white;
    margin: 0 rem(11px);
  }

  &:first-child {
    &:before {display: none;}
  }

  @include tablets {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
  }
}

.navigation__text {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.header__btn-link {
  background-color: $orange;
  &:hover {
    background-color: darken($orange, 7%);
  }
}
