.map {
  background: url('../img/bg/map-bg.jpg') no-repeat center;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bg/footer-bg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
}

.footer__container {
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
}

.address {
  font-weight: 300;
  margin-bottom: 5px;
}

.tel {
  font-weight: 700;
  color: $orange;

  &__icon {
    margin-right: 10px;
  }
}

.footer__left {
  margin-right: auto;

}

.social__list {
  margin-left: auto;
}

.social__item {
  display: inline-block;
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #5a5a5a;
  transition: .3s;

  &:hover {
    fill: #fff;
  }
}
