.reviews__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 650px;
  height: 100vh;
}

.reviews__item {
  display: block;
  width: 25%;
  color: #fff;
  flex-grow: 1;
  filter: grayscale(1);
  transition: .7s;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

  @include tablets {
    width: 50%;
    text-align: center;
  }

  @include phones {
    background-size: auto 200%;
  }

  &:hover {
    background-color: rgb(181, 186, 189);

    .reviews__cont {
      span,
      p,
      .reviews__btn-link {
        opacity: 1;
      }
    }
  }
}

.reviews__item--1 {
  background-position: 50% 25%;
  background-size: cover;
}

.reviews__item--2 {
  background-position: 60% 10%;
}

.reviews__item--3 {
  background-position: 50% 10%;
}

.reviews__item--4 {
  background-position: 100% 35%;
}

.reviews__item--5 {
  background-position: 5% 0%;
}

.reviews__item--6 {
  background-position: 65% 0%;
  
  @include phones {
    background-size: auto 110%;
  }
}

.reviews__item--7 {
  background-position: 40% 50%;

  @include phones {
    background-size: auto 110%;
  }
}

.reviews__item--8 {
  background-position: 80% 50%;

  @include phones {
    background-size: auto 110%;
  }
}

.reviews__cont {
  width: 85%;
  transition: .7s;

  @include tablets {
    width: 75%;
  }

  span {
    display: block;
    font-family: 'Gagalin', Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
    opacity: 0;
    transition: .5s;

    @include tablets {
      margin-bottom: 5px;
    }

    @include phones {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: 0;
    transition: .5s;

    @include phones {
      display: none;
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.reviews__btn-link {
  background-color: $dark;
  opacity: 0;

  @include tablets {
    margin-bottom: 15px;
  }

  &:hover {
    background-color: darken($dark, 7%);
  }
}
