.we {
  background: url('../img/bg/we-bg.jpg') no-repeat center;
  background-size: cover;
  color: $dark;
}

.we__container {
  justify-content: center;
}

.we__title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 72px;
  margin-bottom: 15px;
}

.we__list {
  display: flex;
  justify-content: space-between;
}

.we__item {
  width: 32%;
}

.we__image {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: #f89513;
  margin-bottom: 30px;
  background-position: center center;
  background-repeat: no-repeat;
}

.we__image--meat {
  background: url('../img/icons/meat.svg') no-repeat center;
}

.we__image--hand {
  background: url('../img/icons/hand.svg') no-repeat center;
}

.we__image--natural {
  background: url('../img/icons/natural.svg') no-repeat center;
}

.we__text {
  span {
    font-family: 'LifeHack', Arial, sans-serif;
    display: block;
    font-size: 24px;
    text-align: center;
    color: #2f3234;
    margin-bottom: 5px;
  }

  p {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #2f3234;
  }
}
