.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/bg/footer-bg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  padding: 8px 0;

  @include phones {
    padding: 12px 0;
  }
}

.footer__container {
  height: auto;
  flex-direction: row;
  justify-content: flex-start;

  @include phones {
    flex-direction: column;
  }
}

.footer__left,
.footer__right {
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.footer__left {
  text-align: left;

  @include phones {
    text-align: center;
    margin-bottom: 10px;
  }
}

.address {
  font-weight: 300;
  margin-bottom: 5px;
}

.tel {
  font-weight: 700;
  color: $orange;
  text-decoration: none;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../../img/icons/phone.svg');
    display: inline-block;
    margin-right: 10px;
  }
}

.footer__right {
  text-align: right;

  @include phones {
    text-align: center;
  }
}

.social__list {
  margin-left: auto;
}

.social__item {
  display: inline-block;
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #5a5a5a;
  transition: .3s;

  &:hover {
    fill: #fff;
  }
}
