.intro {
  background: url('../img/bg/intro-bg.jpg') no-repeat center;
  background-size: cover;
}

.intro__cont {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  @include tablets {
    flex-direction: column;
  }
}

.intro__img,
.intro__description {
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.intro__img {
  margin-right: rem(25px);

  @include tablets {
    margin-right: 0;
  }

  @include phones {
    width: 80%;
  }
}

.intro__burger {
  max-width: 100%;
}

.intro__description {
  margin-top: rem(60px);

  @include tablets {
    text-align: center;
    margin-top: 0;
  }
}

.intro__title {
  color: $yellow;
  margin-bottom: rem(15px);

  @include phones {
    font-size: 61px;
  }
}

.intro__description-text {
  font-family: 'LifeHack', Arial, sans-serif;
  font-size: rem(65px);
  color: white;
  text-transform: lowercase;
  line-height: rem(60px);

  @include phones {
    font-size: 50px;
  }
}

.arrow {
  margin-bottom: rem(40px);
}
