html {
  @include tablets {
    font-size: rem(15px);
  }

  @include phones {
    font-size: rem(13px);
  }
}

.wrapper {
  position: relative;
  min-width: 1100px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  min-height: 650px;
  height: 100%;
}

.container {
  height: 100vh;
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  height: 100vh;
  background-color: rgba(0,0,0,0.31);
  min-height: 650px;
  min-width: 940px;
}

.btn {
  min-width: rem(98px);
  border: none;
  border-radius: 5px;
  padding: 10px 17px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  transition: .3s;
}

.section__title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 1.42;
  margin-bottom: 15px;
}
