@font-face {
    font-family: 'LifeHack';
    src: url('../../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../../fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('../../fonts/gagalin-regular-webfont.woff2') format('woff2'),
         url('../../fonts/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.about {
  background-image: url('../../img/we_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  color: #2f3234;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 72px;
  padding: 0;
  margin-bottom: 48px;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 300px;
}

.about__icon {
  width: 68px;
  height: 68px;
  background: #f89513;
  border-radius: 50%;
  margin-left: 65px;
  margin-bottom: 39px;
  background-position: center center;
  background-repeat: no-repeat;
}

.about__card-title {
  font-family: 'LifeHack', Arial, sans-serif;
  display: block;
  font-size: 24px;
  text-align: center;
  color: #2f3234;
}

.about__card-text {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  color: #2f3234;
}
