@-webkit-keyframes arrow {
  from {
    -webkit-transform: none;
    transform: none; }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes arrow {
  from {
    -webkit-transform: none;
    transform: none; }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
